<div class="mb-4 p-8 flex items-center justify-center">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
      <div class="relative">
        <img
          alt="Image du véhicule"
          class="w-full h-48 object-cover object-center"
          [src]="imageUrl()" />
        <span
          class="absolute top-2 right-2 px-3 py-1 text-sm font-semibold text-white rounded-md">
          {{
            type() === vehicleType.Sale ? vehicleType.Sale : vehicleType.Rental
          }}
        </span>
      </div>
    </ng-template>

    <ng-template #title>{{ model() }} - {{ brand() }}</ng-template>

    <ng-template #subtitle>Année: {{ year() }} | {{ km() }} KM</ng-template>

    <p class="text-lg font-semibold text-gray-800">
      Prix: {{ price() | currency: "EUR" }}
    </p>

    <ng-template #footer>
      <div class="flex gap-4 mt-3">
        <p-button
          label="Détails"
          severity="secondary"
          class="w-full"
          [outlined]="true"
          styleClass="w-full"
          (onClick)="goToDetails()" />
        <p-button
          label="Faire une demande"
          class="w-full"
          styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>
</div>
