<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
  <label class="flex flex-col gap-4">
    Modèle :
    <input
      type="text"
      formControlName="model"
      required
      class="bg-white border-white border-solid w-92 h-10 rounded-sm text-black p-2" />
    <div
      *ngIf="form.controls['model'].invalid && form.controls['model'].touched"
      class="error">
      Le modèle est requis.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Année :
    <input
      type="number"
      formControlName="year"
      min="1908"
      max="2025"
      required
      class="bg-white border-white border-solid w-92 h-10 rounded-sm text-black p-2" />
    <div
      *ngIf="form.controls['year'].invalid && form.controls['year'].touched"
      class="error">
      L'année doit être comprise entre 1908 et 2025.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Km :
    <input
      type="number"
      formControlName="km"
      required
      class="bg-white border-white border-solid w-92 h-10 rounded-sm text-black p-2" />
    <div
      *ngIf="form.controls['km'].invalid && form.controls['km'].touched"
      class="error">
      Le kilométrage est requis.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Vente/Location :
    <p-select
      formControlName="type"
      [options]="vehicleType"
      optionLabel="name"
      placeholder="Choisissez un type de vente."
      class="w-full md:w-56 user-select-text-black"></p-select>
    <div
      *ngIf="form.controls['type'].invalid && form.controls['type'].touched"
      class="error">
      Veuillez sélectionner un type de vente.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Prix :
    <input
      type="number"
      formControlName="price"
      required
      class="bg-white border-white border-solid w-92 h-10 rounded-sm text-black p-2" />
    <div
      *ngIf="form.controls['price'].invalid && form.controls['price'].touched"
      class="error">
      Le prix est requis.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Marque :
    <p-select
      formControlName="brand"
      [options]="vehicleBrand"
      optionLabel="name"
      placeholder="Choisissez une marque de véhicule"
      class="w-full md:w-56"></p-select>
    <div
      *ngIf="form.controls['brand'].invalid && form.controls['brand'].touched"
      class="error">
      Veuillez sélectionner une marque.
    </div>
  </label>

  <label class="flex flex-col gap-4">
    Type de carburant :
    <p-select
      formControlName="energy"
      [options]="vehicleEnergy"
      optionLabel="name"
      placeholder="Choisissez le carburant utilisé."
      class="w-full md:w-56"></p-select>
    <div
      *ngIf="form.controls['energy'].invalid && form.controls['energy'].touched"
      class="error">
      Veuillez sélectionner un type de carburant.
    </div>
  </label>

  <label class="flex flex-col gap-2">
    Type de Véhicule:
    <p-select
      formControlName="category"
      [options]="vehicleCategory"
      optionLabel="name"
      placeholder="Choisissez le type du véhicule."
      class="w-full md:w-56"></p-select>
    <div
      *ngIf="
        form.controls['category'].invalid && form.controls['category'].touched
      "
      class="error">
      Veuillez sélectionner un type de véhicule.
    </div>
  </label>

  <label class="flex flex-col gap-2">
    Description:
    <textarea
      rows="5"
      cols="30"
      pTextarea
      formControlName="description"
      maxlength="255"
      required
      class="resize-none"></textarea>
    <div
      *ngIf="
        form.controls['description'].invalid &&
        form.controls['description'].touched
      "
      class="error">
      La description est requise.
    </div>
  </label>

  <p-button
    type="submit"
    label="Modifier le véhicule"
    [disabled]="form.invalid"></p-button>
</form>
