<header
  class="bg-white/90 backdrop-blur-md text-black p-4 flex justify-between items-center shadow-lg fixed top-0 left-0 w-full z-50">
  <h1 class="fire-text text-3xl">
    <a routerLink="/" routerLinkActive="active">
      <img src="logo.gif" alt="logo" class="h-8" />
    </a>
  </h1>
  <nav class="flex space-x-6">
    <a routerLink="/achat" routerLinkActive="active" class="nav-link text-sm">
      Achat
    </a>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      class="nav-link text-sm">
      Dashboard
    </a>
    <p-button
      (onClick)="openAuthForm()"
      [label]="isLogin ? 'Connexion' : 'Inscription'"></p-button>
  </nav>
</header>

<app-auth-form
  *ngIf="showAuthForm"
  (close)="closeAuthForm()"
  [isLogin]="isLogin"
  (toggle)="toggleAuthMode()"></app-auth-form>
