<header
  class="backdrop-blur-md text-black p-4 flex justify-between items-center shadow-lg fixed top-0 left-0 w-full z-50 bshadow">
  <h1 class="fire-text text-3xl">
    <a routerLink="/" routerLinkActive="active">
      <img src="logo.gif" alt="logo" class="h-8" />
    </a>
  </h1>
  <nav class="flex space-x-6">
    <a
      routerLink="/"
      routerLinkActive="active"
      class="text-sm text-black font-normal no-underline px-3 py-2 transition-all duration-300 hover:text-primary active:font-bold active:text-primary">
      Accueil
    </a>
    <a
      routerLink="/transactions"
      routerLinkActive="active"
      class="text-sm text-black font-normal no-underline px-3 py-2 transition-all duration-300 hover:text-primary active:font-bold active:text-primary">
      Mes demandes
    </a>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      class="text-sm text-black font-normal no-underline px-3 py-2 transition-all duration-300 hover:text-primary active:font-bold active:text-primary">
      Dashboard
    </a>
    <a
      routerLink="#"
      routerLinkActive="active"
      class="text-sm text-black font-normal no-underline px-3 py-2 transition-all duration-300 hover:text-primary active:font-bold active:text-primary"
      (click)="openAuthForm()">
      {{ isLogin ? "Connexion" : "Inscription" }}
    </a>
  </nav>
</header>

<app-auth-form
  *ngIf="showAuthForm"
  (close)="closeAuthForm()"
  [isLogin]="isLogin"
  (toggle)="toggleAuthMode()"></app-auth-form>
