.nav-link {
  color: black;
  font-weight: normal;
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.3s;
}
.nav-link:hover {
  color: blue;
}
.nav-link.active {
  font-weight: bold;
  color: blue;
}
